<section class="mb-6">
  <div class="container">
    <h2 class="titillium-web-bold display-4 text-center mb-5">{{ .heading }}</h2>
    <div class="row gx-5">
      {{ with .traditional }}
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="alert alert-danger p-5">
            <h3 class="titillium-web-bold">{{ .heading }}</h3>
            <ul class="list-unstyled mb-0">
              {{ range .items }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
      {{ with .sentinel }}
        <div class="col-lg-6">
          <div class="alert alert-success p-5">
            <h3 class="titillium-web-bold">{{ .heading }}</h3>
            <ul class="list-unstyled mb-0">
              {{ range .items }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>