<section class="py-4">
  <div class="marquee w-100">
    <ul class="marquee-content">
      {{ range . }}
        {{ $src := .logo }}
        {{ $image := "" }}
        {{/*  Get the image, either from its remote or local source  */}}
        {{ if hasPrefix $src "http"}}
          {{ $image = resources.GetRemote $src }}
        {{ else }}
          {{ $image = resources.Get $src }}
        {{ end }}
    
        {{/* Resize images and add them to a variable  */}}
        {{ if and $image (ne $image.MediaType.SubType "svg") }}
          {{ $src = ($image.Fit (printf "%dx%d webp" 150 80)).RelPermalink }}
        {{ end }}
        <li><img class="px-2" src="{{ $src }}" alt="{{ .brand }} logo" style="max-width: 150px; max-height: 100px;" /></li>
      {{ end }}
    </ul>
  </div>
</section>