{{ $src := .image }}
{{ $color := .color }}
{{ if .image }}
  {{ $image := "" }}
  {{/*  Get the image, either from its remote or local source  */}}
  {{ if hasPrefix $src "http"}}
    {{ $image = resources.GetRemote $src }}
  {{ else }}
    {{ $image = resources.Get $src }}
  {{ end }}

  {{/* Resize images and add them to a variable  */}}
  {{ if and $image (ne $image.MediaType.SubType "svg") }}
    {{ $src = ($image.Fit (printf "%dx%d webp" 1920 1080)).RelPermalink }}
  {{ end }}
{{ end }}
<main id="topper" class="bg-dark text-white s-bg-tint" style="background-image: url('{{ $src}}'); background-position: center; background-size: cover;">
  <div class="container s-z-index-content">
    <div class="row">
      <div class="col-lg-9 mb-5 mb-lg-0">
        <div class="py-8 my-3">
          <h1 class="display-1 titillium-web-bold mb-4">{{ .heading | safeHTML }}</h1>
          <p class="mb-4 pb-2 titillium-web-light h1">{{ .subheading }}</p>
          {{ if .ctas }}
            {{ range .ctas }}
              {{ partial "generic/button" (dict "classes" "" "button" .) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>