<section class="mb-6">
  <div class="container">
    <div class="row gx-0">
      <div class="col-lg-8">
        <div class="bg-light p-5 h-100 d-flex align-items-center">
          <div>
            <h2 class="titillium-web-bold h1 mb-3">{{ .heading }}</h2>
            <p class="titillium-web-light mb-4 fs-5">
              {{ .text }}
            </p>
            {{ range .ctas }}
              {{ partial "generic/button" (dict "classes" "btn-s-blue" "button" .) }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-{{ .icon_color }} h-100 d-flex align-items-center justify-content-center p-6">
          {{ if eq .icon "ball-pile" }}
            <span class="fa-solid fa-{{ .icon }} text-white display-0" style="transform: rotate(-90deg);"></span>
          {{ else }}
            <span class="fa-regular fa-{{ .icon }} text-white display-0"></span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>