<section class="py-5 bg-s-green text-white mb-6">
  <div class="container">
    <h2 class="titillium-web-bold mb-4 h1">{{ .heading }}</h2>
    <form>
      <div class="row gx-xl-4 mb-3">
        <div class="col-xl mb-4 mb-xl-0">
          <label for="exampleInputEmail1" class="fs-6 mb-1"><span class="small">Estimated Roof Life</span></label>
          <input class="form-control rounded-0" type="text" placeholder="">
        </div>
        <div class="col-xl mb-4 mb-xl-0">
          <label for="exampleInputEmail1" class="fs-6 mb-1"><span class="small">Maintenance Schedule</span></label>
          <input class="form-control rounded-0" type="text" placeholder="">
        </div>
        <div class="col-xl mb-4 mb-xl-0">
          <label for="exampleInputEmail1" class="fs-6 mb-1"><span class="small">Annual Investment</span></label>
          <input class="form-control rounded-0" type="text" placeholder="">
        </div>
        <div class="col-xl mb-4 mb-xl-0">
          <label for="exampleInputEmail1" class="fs-6 mb-1"><span class="small">Annual Repair Labor & Materials</span></label>
          <input class="form-control rounded-0" type="text" placeholder="">
        </div>
        <div class="col-xl mb-4 mb-xl-0">
          <label for="exampleInputEmail1" class="fs-6 mb-1"><span class="small">Your Savings</span></label>
          <input class="form-control rounded-0" type="text" placeholder="">
        </div>
      </div>
    </form>
  </div>
</section>