<section id="testimonials" aria-labelledby="" class="py-6 mb-6 text-center position-relative">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div id="carouselExample" class="carousel carousel-dark slide carousel-fade">
          <div class="carousel-inner">
            {{ range $index, $value := . }}
              <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                <div class="bg-white w-100">
                  <blockquote class="fs-4 titillium-web-light"><span class="d-block">“{{ .quote }}”</span></blockquote>
                  <p class="small titillium-web-bold mb-0"><strong class="d-block">{{ .name }}</strong><span class="d-block">{{ .source }}</span></p>
                </div>
              </div>
            {{ end }}
          </div>
          <button class="carousel-control-prev ms-n5 ms-lg-n7" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next me-n5 me-lg-n7" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>