<section class="mb-6">
  <div class="container">
    <div class="row">
      {{ range . }}
        <div class="col-lg-3">
          <div class="p-4 {{ .color }}">
            <h2 class="h1 titillium-web-bold">{{ .heading }}</h2>
            {{ with .subheading }}
              <p>{{ . }}</p>
            {{ end }}
            <ul>
              {{ range .items }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>