$md-width: 720px;
$lg-width: 960px;
$xl-width: 1140px;
$xxl-width: 1320px;

@media screen and (min-width: $s-bp-md) {
  .s-bleed-left {
    margin-left: calc((-100vw + #{$md-width}) / 2);
    padding-left: calc((100vw - #{$md-width}) / 2);
  }
  .s-bleed-right {
    margin-right: calc((-100vw + #{$md-width}) / 2 - .75rem);
    padding-right: calc((100vw - #{$md-width}) / 2 + .75rem);
  }
}

@media screen and (min-width: $s-bp-lg) {
  .s-bleed-left {
    margin-left: calc((-100vw + #{$lg-width}) / 2);
    padding-left: calc((100vw - #{$lg-width}) / 2);
  }
  .s-bleed-right, .s-lg-bleed-right {
    margin-right: calc((-100vw + #{$lg-width}) / 2 - .75rem);
    padding-right: calc((100vw - #{$lg-width}) / 2 + .75rem);
  }
}

@media screen and (min-width: $s-bp-xl) {
  .s-bleed-left {
    margin-left: calc((-100vw + #{$xl-width}) / 2);
    padding-left: calc((100vw - #{$xl-width}) / 2);
  }
  .s-bleed-right, .s-xl-bleed-right {
    margin-right: calc((-100vw + #{$xl-width}) / 2 - .75rem);
    padding-right: calc((100vw - #{$xl-width}) / 2 + .75rem);
  }
}

@media screen and (min-width: $s-bp-xxl) {
  .s-bleed-left {
    margin-left: calc((-100vw + #{$xxl-width}) / 2);
    padding-left: calc((100vw - #{$xxl-width}) / 2);
  }
  .s-bleed-right, .s-xl-bleed-right {
    margin-right: calc((-100vw + #{$xxl-width}) / 2 - .75rem);
    padding-right: calc((100vw - #{$xxl-width}) / 2 + .75rem);
  }
}