<section aria-label="Breadcrumbs" class="d-flex position-relative" style="height: 0px; top: -60px; z-index: 99999">
  <div class="position-absolute mt-3 w-100 text-start" style="top: 0px;">
    <div class="container">
      <ul class="list-inline d-inline-block small mt-2 rounded-2 px-2 py-1 mx-n2 my-n1 wvu-b-breadcrumbs text-white">
        {{ $breadcrumb := split (replaceRE `\/[0-9]{4}\/[0-9]{2}\/[0-9]{2}` "" (trim .RelPermalink "/" )) "/" }}
        {{ $crumb_link := "/" }}
        {{ $rel_permalink := .RelPermalink }}
        <li class="list-inline-item me-0"><a class="text-white" href="/">Home</a></li><span class="breadcrumb-slash">/</span>
        {{ range $breadcrumb }}
          {{ $crumb_link = print $crumb_link . "/" }}
          {{ if ne $rel_permalink $crumb_link }}
            <li class="list-inline-item me-0"><a class="" href="{{ $crumb_link }}" style="color: inherit;">{{ title (replace . "-" " ") }}</a></li><span class="breadcrumb-slash">/</span>
          {{ else }}
            <li class="list-inline-item active me-0">{{ title (replace . "-" " ") }}</li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</section>