{{ with site.Data.settings }}
  <nav class="site-nav navbar navbar-expand-xl navbar-light bg-white">
    <div class="w-100">
      <div class="container-fluid position-relative bg-white">
        <div class="px-xl-5 ms-xl-n5 me-xl-n5 bg-white">
          <div class="row justify-content-between">
            <div class="col-6 col-lg d-flex align-items-center order-2 order-lg-1">
              <a class="btn btn-primary rounded-0 ms-xl-5" href="{{ .quote_link }}">Request a Quote</a>
            </div>
            <div class="col-lg text-center order-1 order-lg-2 mb-4 mb-lg-0">
              <a class="navbar-brand d-inline-block py-lg-3 me-lg-0 ms-3 ms-md-0 lh-1" href="/">
                <!-- <div class=""><img src="/images/mark.webp" width="55px"></div> -->
                <div class="position-relative" style="top: -2px;">
                  <span class="d-block h4 mb-0 position-relative" style="left: -2px;"><strong>SENTINEL</strong></span>
                  <span class="fs-6 text-uppercase small jgb-text-letter-spacing-wide d-block" style="font-size: .75rem !important;">Industrial Roofing</span>
                </div>
              </a>
            </div>
            <div class="col-6 col-lg d-flex align-items-center justify-content-end order-3">
              <a class="btn btn-primary rounded-0 me-xl-5" href="tel:{{ .emergency_phone | urlize }}">Emergency Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
{{ end }}