<nav class="site-nav navbar navbar-expand-xl navbar-light bg-white">
  <div class="w-100">
    <div class="container position-relative bg-white">
      <div class="px-xl-5 ms-xl-n5 me-xl-n5 bg-white">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 d-flex align-items-lg-center">
            <div class="d-flex">
              <a class="btn btn-primary" href="">Request a Quote</a>
              <a class="navbar-brand d-inline-block py-lg-3 me-lg-0 ms-3 ms-md-0 lh-1" href="/">
                <div class=""><img src="/images/mark.webp" width="55px"></div>
                <div class="position-relative" style="top: -2px;">
                  <span class="d-block h4 mb-0 position-relative" style="left: -2px;"><strong>SENTINEL</strong></span>
                  <span class="fs-6 text-uppercase small jgb-text-letter-spacing-wide d-block" style="font-size: .75rem !important;">Industrial Roofing</span>
                </div>
              </a>
              <a class="btn btn-primary" href="">Emergency Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>